@import "https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css";
@import "https://fonts.googleapis.com/css?family=Anton";
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #111111;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}




/* Video Info*/

.DownloadDiv{
  margin:0 0 0 auto
}

.form-control{
  background:black;
  height:100%;
  color:white;
  transition: .5s;
  outline: 1px solid rgba(255, 255, 255, 0);
  border: 0;
}
.form-control:focus{
  background:black;
  height:100%;
  color:white;
  outline: 1px solid rgba(255, 255, 255, 0.58);
  /*border: 1px solid white ;*/
  -webkit-transition: width 2s;
  transition: .5s;

}
.Centers {
  position: absolute;
  top: 50%;
  width: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.ColorWhite{
  color: white;
}
.FloatLeft{
  float: left;
}
.DownloadButton{
  transition: .5s;
  background: #088808;
  outline: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-family:anton;
  font-size:16px;
  border:0
}
.DownloadButton:hover{
  transform: scale(1.05);
  transition: .5s;
  background: #0ab80a;
  height: 100%;
  border-radius: 5px;
  color: white;
  font-family:anton;
  font-size:16px
}
.Quality{
  transition: .2s;
  overflow:auto;
  margin:10px auto 10px auto;
  background:black;
  border:1px solid white
}
.Quality:hover{
  transition: .2s;
  overflow:auto;
  transform: scale(1.05);
  margin:7px auto 0 auto;
  background: #171717;
  border:1px solid white
}
.VideoInfo{
  height:auto;
  margin:0 auto 0 auto;
  overflow:hidden
}
.VideoDetailTop{
  color:white;
  text-align:center;
  font-family:anton;
  font-size:16px
}
.VideoDetailBottom{
  text-align:center;
  background:black;
  float:left;
  font-family:anton;
  font-size:20px;
  color:white
}


@media screen and (max-width: 770px) {
  .DownloadDiv{
    margin:0 ;
  }
  .Centers{
    position: absolute;
    top: 0;
    left:0;
    transform: none;
    width: 100%;
  }

}

/* Nprogress Bar*/

/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #ffffff;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #ffffff, 0 0 5px #ffffff;
  opacity: 1.0;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;

  border: solid 2px transparent;
  border-top-color: #ffffff;
  border-left-color: #ffffff;
  border-radius: 50%;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
  animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0%   { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes nprogress-spinner {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

